<ion-view view-title="Rewards and Offers">
  <ion-content class="padding" has-bouncing="false">
    <div class="list card">
      <div class="item item-divider">Lease Mileage Credit</div>
      <div class="item item-body">
        <div>
          $10 off oil change at [DEALER].
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Oil Change Discount</div>
      <div class="item item-body">
        <div>
          $10 off oil change at [DEALER].
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Tire Rotation</div>
      <div class="item item-body">
        <div>
          Complementary tire rotation with oil change.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Lease Buyout</div>
      <div class="item item-body">
        <div>
          [DEALER] is willing to buy out your lease. Contact [DEALER] by [DATE] to take advantage of this offer.
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>